@font-face {
  font-family: srednje;
  src: url(srednje.TTF);
}

body {
  background: black;
  color: #f4f5f7;
  text-align: center;
  font-family: srednje;
  background-image: url(../grafika/pozadina2.jpg);
background-repeat: no-repeat;
background-size: cover;
background-attachment: fixed;
background-position: 50% 50%;

}
body::before {
  width: 100%;
  height: 100%;
  content: '';
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
  background-image: -moz-linear-gradient(top left, rgba(0, 47, 75, 0.75), rgba(221, 66, 36, 0.55));
  background-image: -ms-linear-gradient(top left, rgba(0, 47, 75, 0.75), rgba(221, 66, 36, 0.55));
  background-image: -webkit-linear-gradient(top left, rgba(0, 47, 75, 0.75), rgba(221, 66, 36, 0.55));
  background-image: -o-linear-gradient(top left, rgba(0, 47, 75, 0.75), rgba(221, 66, 36, 0.55));
  background-image: linear-gradient(to bottom right, rgba(0, 47, 75, 0.75), rgba(221, 66, 36, 0.55));
  background-size: auto;

}
body,html{height: 100%;  overflow-x: hidden;
  overflow-y: auto}

h1 {
  color: white;
}

#game-wrap canvas {
  border: 1px solid #666;
  margin: 0 auto;
}

#instructions {
  font-family: monospace;
  font-size: 13px;
  color: #f4f5f7;
  padding: 5px;
}

#instructions b {
  color: #ffff99;
}

#wrap {
  transform: scale(1.05);
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.05);
  -ms-transform: scale(1.05);
  -o-transform: scale(1.05);
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

html {
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  

}

#pauza{position: fixed; left: 50%;top: 55%; transform: translate(-50%,-50%);font-size: 40px; color: yellow;display: none;font-family: monospace}


@media only screen and (max-width:1400px) {
 
#wrap {
  transform: scale(1);
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
}
}


@media only screen and (max-width:900px) {
 
  #wrap {
    transform: scale(0.8);
    -webkit-transform: scale(0.8);
    -moz-transform: scale(0.8);
    -ms-transform: scale(0.8);
    -o-transform: scale(0.8);
  }
  }